body {
	background-color: #161616;

}

@import url('../fonts/inkuntantiqua-black-webfont.woff') format('woff');

.nothing {
	color: #E15100;
	font-family: Inknut Antiqua;
	font-style: normal;
	font-weight: 900;
	line-height: 100%;
	letter-spacing: -0.06em;
	font-size: 96px;
	position: absolute;
}

/* smallest */
@media screen and (max-width: 585px) {
	.nothing {
		width: 1523px;
		height: 96px;
		right: -450px;
		top: 800px;
		transform: rotate(90deg);
	}
}
/*sec smallest*/
@media screen and (min-width: 586px) and (max-width: 1087px) {
	.nothing {
		width: 616px;
		height: 295px;
		left: 66px;
		top: 77px;
	}
}
/*sec largest*/
@media screen and (min-width: 1087px) and (max-width: 1364px) {
	.nothing {
		width: 833px;
		height: 192px;
		left: 244.01px;
		top: 98.01px;
	}
}
/*largest*/
@media screen and (min-width: 1364px) {
	.nothing {
		width: 833px;
		height: 192px;
		left: 382.01px;
		top: 98.01px;
	}
}

::selection {
  background: #E15100; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #E15100; /* Gecko Browsers */
  color: #fff;
}
